<div class="relative">
    <div class="rounded-lg border-gray-500">
        <div class="flex justify-center">
            <table class="w-4/5 min-w-96 bg-white border border-gray-300 rounded-lg">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">Nom</th>
                        <th class="py-2 px-4 border-b">Prenom</th>
                        <th class="py-2 px-4 border-b">Age</th>
                        <th class="py-2 px-4 border-b">Adresse</th>
                        <th class="py-2 px-4 border-b">Departement</th>
                        <th class="py-2 px-4 border-b">Date Debut</th>
                        <th class="py-2 px-4 border-b">Date Fin</th>
                        <th class="py-2 px-4 border-b">Tache</th>
                        <th class="py-2 px-4 border-b">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (st of stgList; track $index) {
                    <tr class="hover:bg-gray-100">
                        <td class="py-2 px-4 border-b text-center">{{ st.nom }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ st.prenom}}</td>
                        <td class="py-2 px-4 border-b text-center">{{ st.age }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ st.adresse }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ st.departement }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ st.dateDebut }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ st.dateFin }}</td>
                        @for (tache of st.tachesAssignees; track $index) {
                            <td class="py-2 px-4 border-b text-center">{{ tache.description }}</td>
                        }
                        <td class="py-2 px-4 border-b flex justify-center space-x-2">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
                                (click)="openEditDialog(st)">
                                Edit
                            </button>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                                (click)="deleteStagiaire(st.id)">
                                Remove
                            </button>
                        
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-stagiaire-edit-dialog *ngIf="isEditDialogVisible" [stagiaire]="editedStagiaire"
    (saveClicked)="saveEditedStagiaire($event)" (cancelClicked)="closeEditDialog()"></app-stagiaire-edit-dialog>






