<div>
    <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-2xl font-bold"><li><a routerLink="/dashboard" routerLinkActive="active" class="hover:underline">HR MANAGEMENT</a></li></div>
            <ul class="flex space-x-4">
                <li><a routerLink="/tasks" routerLinkActive="active" class="hover:underline">Taches</a></li>
                <li><a routerLink="/stagiaire" routerLinkActive="active" class="hover:underline">Stagiaires</a></li>
                <li><a routerLink="/encadrant" routerLinkActive="active" class="hover:underline">Encadrants</a></li>
            </ul>
        </div>
    </nav>
</div>
