<div class="dialog-container">
    <div class="bg-white p-8 rounded-lg w-1/3">
        <h1 class="text-2xl font-bold mb-4">Edit Encadrant :</h1>


        <label for="nom" class="block text-gray-700 text-sm font-bold mb-2">Nom :</label>
        <input type="text" id="nom" [(ngModel)]="encadrant.nom" class="w-full md:w-96 border rounded-md py-2 px-3 mb-4">



        <label for="dateLimite" class="block text-gray-700 text-sm font-bold mb-2">Prenom :</label>
        <input type="text" id="prenom" [(ngModel)]="encadrant.prenom"
            class="w-full md:w-96 border rounded-md py-2 px-3 mb-4">


        <label for="departement" class="block text-gray-700 text-sm font-bold mb-2">Departement :</label>
        <input type="text" id="departement" [(ngModel)]="encadrant.departement"
            class="w-full md:w-96 border rounded-md py-2 px-3 mb-4">



        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" (click)="onSave()">
            Save
        </button>
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded ml-2"
            (click)="onCancel()">Close</button>

    </div>
</div>