<div class="flex justify-around mt-8">
    <!-- Stagiaire Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-1/4">
      <h2 class="text-2xl font-bold mb-4">Stagiaires</h2>
      <p class="text-gray-700 text-xl">Nombre des stagiaires : {{ stagaire_size }}</p>
    </div>
  
    <!-- Encadrant Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-1/4">
      <h2 class="text-2xl font-bold mb-4">Encadrants</h2>
      <p class="text-gray-700 text-xl">Nombre des encadrants : {{ encadrant_size }}</p>
    </div>
  
    <!-- Tache Card -->
    <div class="bg-white p-6 rounded-lg shadow-md w-1/4">
      <h2 class="text-2xl font-bold mb-4">Tâches</h2>
      <p class="text-gray-700 text-xl">nombre des tâches : {{ tache_size }}</p>
    </div>
  </div>
  